---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
import '@fontsource/poppins'; 
---
<MainLayout title="Giovanni Coronel">
	<!-- <div class="flex place-items-center justify-start h-screen p-8">
		<p class="inline-block transform rotate-[270deg] origin-bottom-left whitespace-nowrap text-lg text-amber-300 font-semibold mr-4">
			Product Designer
		</p> 
	</div> -->
</MainLayout>