---

---
<h1 id="aboutme" class="text-5xl font-semibold px-24 pt-8">Sobre Mí</h1>
<section class="grid grid-cols-[1.5fr_1fr] gap-4 my-4 px-24">
    <div class="text-body text-xl">
        <p>Me especializo en análisis y desarrollo de software, combinando tecnologías como React y Python con herramientas como Excel y Power BI para crear soluciones eficientes y funcionales.</p>
        <p>Valoro el trabajo en equipo y la colaboración interdisciplinaria, habilidades que he desarrollado a través de proyectos académicos y sociales. Entre mis experiencias destacadas se encuentran:</p>
        <ul>
            <li class="list-disc"><strong class="text-blue-800">
                Proyecto de inclusión en el CEBE "Los Viñedos":
            </strong>
                 Organicé actividades recreativas y espectáculos para niños, y colaboré en la recaudación de fondos para la adquisición de materiales esenciales.</li>
            <li class="list-disc"><strong class="text-blue-800">Optimización de equipos de cómputo: </strong>Realicé limpieza, reparación y mejora de equipos, contribuyendo a su funcionamiento y prolongando su vida útil.</li>
        </ul>
        <p>Estoy comprometido con el aprendizaje continuo y con aplicar mis conocimientos para desarrollar soluciones tecnológicas con impacto positivo.</p>
    </div>
    <div><h2>imagenes</h2></div>
</section>
