---
import SwipeCards from "./SwipeCards"
---
<h1 id="aboutme" class="text-5xl font-semibold md:px-24 pt-9">Sobre Mí</h1>
<section class="grid md:grid-cols-[1.5fr_1fr] gap-4 my-4 px-4 md:px-24">
    <div class="text-body text-xl">
        <p>Me especializo en el análisis y desarrollo de software, creando soluciones eficientes y funcionales mediante tecnologías como React, Python, Excel y Power BI.</p>
        <p>Valoro el trabajo en equipo y colaborar con profesionales de distintas disciplinas, habilidades que he fortalecido a través de diversos proyectos académicos y sociales.
        Algunas de mis experiencias más destacadas incluyen:</p>
        <ul>
            <li class="list-disc"><strong class="text-blue-800">
                Proyecto de inclusión en el CEBE "Los Viñedos":
            </strong>
                 Organicé actividades recreativas y espectáculos para niños, y colaboré en la recaudación de fondos para la adquisición de materiales esenciales.</li>
            <li class="list-disc"><strong class="text-blue-800">Optimización de equipos de cómputo: </strong>Realicé limpieza, reparación y mejora de equipos, contribuyendo a su funcionamiento y prolongando su vida útil.</li>
        </ul>
        <p>Estoy comprometido con el aprendizaje continuo y con aplicar mis conocimientos para desarrollar soluciones tecnológicas con impacto positivo.</p>
    </div>
    <div>
        <SwipeCards client:load/>
    </div>
</section>
