---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCIE = [
{
    title: "Estudiante de Ingeniería de Software",
    date: "Marzo, 2023",
    description: "Desarrollador de proyectos de software"
}, {
    title: "Instituto ELITEC",
    date: "Febrero, 2025",
    description: "Encargado del soporte estudiantil y docente",
    link:"es"
}];

---
<h1>Experiencia Laboral</h1>
<section class="flex justify-center">
    <ol class="items-center sm:flex">
        {EXPERIENCIE.map((experiencie)=>(
            <ExperienceItem {...experiencie} />
        ))}
    </ol>
</section>


