---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCIE = [
{
    title: "Ingeniería de Software",
    date: "Marzo, 2023 - Actualidad",
    description: "Desarrollador de proyectos de software"
}, {
    title: "Instituto ELITEC",
    date: "Febrero, 2025 - Actualidad",
    description: "Desarrollo de software, creación de reportes, seguimiento ...",
    link:"es"
}];

---
<h1 id="experiencie" class="text-5xl font-semibold px-24">Experiencia Laboral</h1>
<section class="flex justify-center py-8 px-24">
    <ol class="items-center sm:flex">
        {EXPERIENCIE.map((experiencie)=>(
            <ExperienceItem {...experiencie} />
        ))}
    </ol>
</section>