---
import Social from './Social.astro';
import Linkedin from './icons/Linkedin.astro';
import Github from './icons/Github.astro';
import Gmail from './icons/Gmail.astro';
const year = new Date().getFullYear();
---
<footer class="border-t pt-4">
    <div class="flex justify-between">
        <div>
            <ul class="flex flex-col gap-4 font-medium">
                <li><a href="">Experiencia Laboral</a></li>
                <li><a href="">Proyectos</a></li>
                <li><a href="">Sobre Mí</a></li>
            </ul>
        </div>
        <div class="flex flex-col items-center gap-4 font-bold">
            <h1 class="text-body text-xl">Giovanni Coronel</h1>
            <div class="flex gap-4">
                <Social href="https://www.linkedin.com/in/giovanni-coronel/">
                    <Linkedin class="size-8"/>
                </Social>
                <Social href="https://www.linkedin.com/in/giovanni-coronel/">
                    <Github class="size-8"/>
                </Social>
                <Social href="https://www.linkedin.com/in/giovanni-coronel/">
                    <Gmail class="size-8"/>
                </Social>
            </div>
        </div>
    </div>
    <p class="text-center font-medium">{year}, Created by Giovanni Coronel</p>
</footer>
