---
import '@fontsource/poppins';
import '@fontsource-variable/onest';
type Props={
    title: string;
}
const {title} = Astro.props;
---
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" /> 
        <link rel="icon" href="/yo.webp" class="mask-x-from-70% mask-x-to-90% mask-b-from-50% mask-b-to-90% inline-block mt-8" />
        <title>{title}</title>
    </head>
    <body class="lg:p-8 p-4">
        <slot/>
    </body>
</html>
<style is:global>
  :root{
    color-scheme: light dark;
    scroll-behavior: smooth;
  }
  body{
    background:#18181b;
  }
  body{
  font-family: 'Poppins', sans-serif;
  }
  p{
    font-family: 'Onest Variable', sans-serif;
  }
  @media(prefers-reduced-motion:reduce){
    body{
      scroll-behavior: auto;
    }
  }
</style>